{% extends 'base.jinja2' %}

{% block subtitle %}Find Donor's Donations{% endblock subtitle %}

{% block content %}
<form method = 'GET'>
    <{% if error %}<span class = "error"> {{ error }}<br>{% endif %}>
    <label for = "name">Donor: </label><input type = "text" id = "name" name = "name">
    <input type = "submit" value = "Find">
</form>
{% endblock content %}